<!--
<div class="demo">
  <div id="d1" class="ui-widget-content">
    <p>Drag1<Array/p>
  </div>
  <div id="d2" class="ui-widget-content">
    <p>Drag2</p>
  </div>
  <div id="d3" class="ui-widget-content">
    <p>Drag3</p>
  </div>
  <div id="d4" class="ui-widget-content">
    <p>Drag4</p>
  </div>
  <div id="d5" class="ui-widget-content">
    <p>Drag5</p>
  </div>
  <div id="d6" class="ui-widget-content">
    <p>Drag6</p>
  </div>


  <div id="dd1" class="ui-widget-header">
    <p>Drop1</p>
  </div>

  <div id="dd2" class="ui-widget-header">
    <p>Drop2</p>
  </div>

  <div id="dd3" class="ui-widget-header">
    <p>Drop3</p>
  </div>

  <div id="dd4" class="ui-widget-header">
    <p>Drop4</p>
  </div>

  <div id="dd5" class="ui-widget-header">
    <p>Drop5</p>
  </div>

  <div id="dd6" class="ui-widget-header">
    <p>Drop6</p>
  </div>

</div>

          
text:
<br/>
<br/>
<br/>
<br/>
-->
