<BR/>
<h2>欢迎使用Note记录平台，记录维护您任意类型的信息。</h2>
<BR/>
<BR/>

<b>推荐表－个人应用</b>
<div class="recommend">
  <ul>
    <li><%= link_to "TODO", note_record_path("?", "?") %></li>
    <li>随笔</li>
    <li>电话簿</li>
    <li>临时信息</li>
    <li>个人简历</li>
    <li>生活备忘</li>
    <li>技术笔记</li>
    <li>好站收录</li>
    <li>网友留言</li>
  </ul>
</div>
<BR/>
<BR/>
<b>推荐表－研发过程类</b>
<div class="recommend">
  <ul>
    <li>Note平台待开发功能</li>
    <li>项目管理计划</li>
    <li>发版记录</li>
    <li>线上质量事故</li>
    <li>配置管理</li>
    <li>人力管理</li>
    <li>会议纪要</li>
    <li>日报</li>
    <li>方案选择</li>
    <li>项目访谈问题</li>
  </ul>
</div>
<BR/>
<BR/>
<b>推荐表－信息发布</b>
<div class="recommend">
  <ul>
    <li>招聘信息</li>
    <li>人才信息</li>
    <li>Note平台发布公告</li>
    <li>推荐软件工具</li>
    <li>推荐网站</li>
    <li>活动报名</li>
  </ul>
</div>
<BR/>
<BR/>
<b>推荐表－其它</b>
<div class="recommend">
  <ul>
    <li>建议反馈</li>
    <li>Note平台使用方法</li>
    <li>Note平台进阶使用</li>
  </ul>
</div>
<BR/>
