<div>
  <br/>
  <b><%= link_to @note["name"], note_records_path(@note_id) %>---Records: </b>
  <br/>
  <br/>
  <table class="records">
    <tr>
      <th>ID</th>
      <% @note_labels.each do |label| %>
        <th><%= label["name"] %></th>
      <% end %>
    </tr>

    <% @records.each do |record| %>
      <tr>
        <td><%= record["_id"] %></td>
        <% @note_labels.each do |label| %>
          <td><pre><%= record[label["lid"].to_s] %></pre></td>
        <% end %>
      </tr>
    <% end %>
  </table>

</div>
