/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body {
  margin: 0px;
  text-align: center;
  background-image: url(bg.jpg);
}

button {
  text-align: center;
  font-size: 13px;
  border: #7b9ebd 1px solid;
  padding: 3px;
  margin-left: 10px;
}

form {
  display: inline;
}

textarea {
  width: 833px;
  height: 222px;
}

a {
  text-decoration: none;
}

#container {
  position: relative;
  text-align: center;
  margin: auto;
  width: 95%;
  height: 100%;
}

#header {
  border-radius: 7px;
  margin: 3px auto;
  /*background-color: #D5DBD3;*/
  background-color: transparent;
  border-style: solid;
  border-color: #D5DBD3;
  border-width: 1px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}

.header_menu {
  /*display: none;*/
  float: left;
  vertical-align: middle;
  padding-left: 12px;
  margin-top: 3px;
  font-size: 12px;
}

#header a:link{color: #1B1B1B; text-decoration: none}
#header a:hover {text-decoration: underline}

#flasherror {
  color: red;
}

#flashnotice {
  color: blue;
}

#footer {
  border-radius: 7px;
  text-align: center;
  margin: 3px auto;
  font-size: 13px;
  /*background-color: #D5DBD3;*/
  background-color: transparent;
  border-style: solid;
  border-color: #D5DBD3;
  border-width: 1px;
  vertical-align: middle;
  height: 18px;
}
#footer_detail_msg {
  float: left
}

#footer a:link {
  color: #949494;
}

#logo{
  text-align: left;
  display: inline;
  vertical-align: middle;
  margin-left: 10px;
  float: left;
  font-size: 23px;
}

.menu {
  margin-left: 40px;
  float: left;
}

#user {
  margin-right: 10px;
  vertical-align: middle;
  float: right;
  font-size: 12px;
}

.user_menu {
  display: none;
  margin-right: 20px;
  vertical-align: middle;
  float: right;
  font-size: 12px;
}

#message_box {
  border-radius: 7px;
  text-align: left;
  /*text-indent: 20px;*/
  background-color: #FFEAEA;
  width: 400px;
}

#content {
  border-radius: 7px;
  margin: 3px auto;
  text-align: left;
  font-size: 13px;
  /*text-indent: 20px;*/
  /*background-color: #D5DBD3;*/
  background-color: transparent;
  border-style: solid;
  border-color: #D5DBD3;
  border-width: 1px;
  /*height: 95%;*/
}

#content_top {
  border-radius: 7px;
  border-color: #D5DBD3;
  border-width: 1px;
  border-style: solid;
  margin: 6px 20px 20px;
  height: 17px;
  font-style: italic;
  color: blue;
}
#content_main {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.up_down {
  display: inline;
}

.recommend {
  width: 100%;
  /*height: 80px;*/
  float: left;
}
.recommend ul {
  width: 95%;
}
.recommend li {
  width: 150px;
  height: 30px;
  float: left;
  display: block;
}
.pagination {
  display: inline;
  float: right;
}

