/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body {
  margin: 0px;
  text-align: center;
  background-image: url(bg.jpg);
}

button {
  text-align: center;
  font-size: 13px;
  border: #7b9ebd 1px solid;
  padding: 3px;
  margin-left: 10px;
}

#container {
  text-align: center;
  margin: auto;
  width: 95%;
  height: 100%;
}

#header {
  border-radius: 7px;
  margin: 3px auto;
  background-color: #D5DBD3;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}

#header a:link{color: #1B1B1B; text-decoration: none}
#header a:hover {text-decoration: underline}

#footer {
  border-radius: 7px;
  text-align: center;
  margin: 3px auto;
  font-size: 13px;
  background-color: #D5DBD3;
  vertical-align: middle;
}

#footer a:link {
  color: #949494;
}

#logo{
  vertical-align: middle;
  margin-left: 20px;
  float: left;
}

.menu {
  margin-left: 40px;
  float: left;
}

#user {
  margin-right: 20px;
  vertical-align: middle;
  float: right;
}

#message_box {
  border-radius: 7px;
  text-align: left;
  text-indent: 20px;
  background-color: #FFEAEA;
  width: 400px;
}

#content {
  border-radius: 7px;
  margin: 3px auto;
  text-align: left;
  text-indent: 20px;
  font-size: 13px;
  background-color: #D5DBD3;
  height: 600px;
}

.recommend {
  width: 100%;
  height: 80px;
  float: left;
}
.recommend ul {
  width: 95%;
}
.recommend li {
  width: 160px;
  height: 40px;
  float: left;
  display: block;
}
